<div class="container">
<h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite flavor</mat-label>
  <mat-select (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let food of foods" [value]="food.viewValue"  >
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<h3>{{today | date}}</h3>
<h3>{{today | date: userOption}}</h3>


<br>
<h4>Two way binding</h4>

<input type="string" [(ngModel)]="userInput">
<p>hello, {{userInput}}</p>
</div>

<br>
<h3>Routing</h3>
<div>
  <button (click)="switch('/home')">Home</button>
  <button (click)="switch('/about')">About</button>
</div>
<router-outlet></router-outlet>



